@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(https://source.unsplash.com/1600x900/?landscape) center center no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.container {
    background-color: #fff;
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #000;
}

.container h1 {
    margin: 50px 0 10px 0;
    font-size: 50px;
}

.player-chooses {
    margin-top: 30px;
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}

.cpu-chooses {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.buttons button {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: 1px 1px 5px #000;
}

.buttons button:hover {
    opacity: 70%;
}

.buttons button:active {
    opacity: 40%;
}

.buttons img {
    width: 100px;
}

.rock {
    background-color: rgb(22, 199, 116)
}

.paper {
    background-color: rgb(224, 115, 65);
}

.scissors {
    background-color: rgb(74, 134, 223);
}

.result {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 50px;
    opacity: 0%;
}

.placar {
    background-color: rgb(223, 211, 49);
    border-bottom: solid 2px #000;
    border-top: solid 2px #000;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    margin: 40px 0;
}

.player-score {
    font-size: 30px;
    margin-bottom: 10px;
}

.player-score span {
    font-weight: 700;
    text-decoration: underline;
}

.cpu-score {
    font-size: 30px;
}

.cpu-score span {
    font-weight: 700;
    text-decoration: underline;
}

.player-name {
    text-decoration: none !important;
    font-weight: 400 !important;
}

.rock-player-choose,
.paper-player-choose,
.scissors-player-choose,
.rock-cpu-choose,
.paper-cpu-choose,
.scissors-cpu-choose {
    opacity: 0%;
}

.reset-game {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: rgb(102,27,27);
    background: radial-gradient(circle, rgba(102,27,27,1) 0%, rgba(167,24,24,1) 100%);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.reset-game:hover {
    filter: brightness(1.2);
}

.reset-game:active {
    filter: brightness(0.9);
}